/************* Size Measurements ******************
  ABSOLUTE
    - Pixels (px): 
      This is a fixed unit of measurement. 
      One pixel is a single dot on a screen, and it doesn't change size regardless of the screen's resolution. 
      Pixels are commonly used for defining precise sizes.

  RELATIVE
    - Em's (em):
      Relative to the font-size of the parent element. 
      For example, if the font size of the parent element is 16px, 1em would be equal to 16px. 
      This makes it useful for maintaining scalability.
    - Percentage (%):
      Relative to the size of the parent element. 
      For example, if a parent element has a width of 200px and a child element is set to 50%, the child element will have a width of 100px.
  Relative measurements are particularly useful in responsive web design as they adapt well to different screen sizes and resolutions.
*/

/************** The BOX Model ***********************
The box model controls the spacing properties (margin, padding, border, width, and height) of block-level elements
***************************************************/

tag {
  font-size: ;
  font-family: ;
  font-weight: ;
  text-transform: ;
  letter-spacing: ;
  line-height: ;
  word-spacing: ;
  margin: ; /* top right bottom left */ /* top&bottom left&right */
  padding: ;
}

/* Centering by the margin property
To do this
give the margin or top&bottom what you want and
give auto to right&left margin
ex: margin: 5px auto;
*/
